.modal {
  padding: 0 19px;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  z-index: 100;
  background: rgba (0, 0, 0, 0.5);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.modal__opened {
  display: flex;
}

.modal__container {
  position: relative;
  padding: 36px;
  background-color: #ffffff;
  border-radius: 10px;
}

.modal__close {
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  background-image: url(../images/Close\ Icon.svg);
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.modal__heading {
  color: black;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__button {
}
